---
---

@import "{{ site.theme }}";

// Custom image for Google Forms button.
header a.button {
    background: transparent url(../images/tickets-button.png) 0 0 no-repeat;
    /*background: transparent url(../images/interesse-button.png) 0 0 no-repeat;*/
}

// Custom image for Discord button.
aside a.discord.button {
    background: transparent url(../images/discord-button.png) 0 0 no-repeat;
}

// Custom image for date / calendar button
aside a.calendar.button {
    background: transparent url(../images/calendar-button.png) 0 0 no-repeat;
}

// Custom image for FAQ button
aside a.faq.button {
    background: transparent url(../images/faq-button.png) 0 0 no-repeat;
}

// Eidsiva logo
aside a.eidsiva.button {
    background: transparent url(../images/eidsiva.png) 0 0 no-repeat;
    background-size: contain;
}

// Custom icons for frontpage headings.
#main-content {
    #hva-er-det:before {
        content: '🤔';
    }
    #hvor-er-det:before {
        content: '🌍';
    }
    #hva-koster-det:before {
        content: '💸';
    }
    #hvor-melder-jeg-meg-på:before {
        content: '📝';
    }

    h2:before {
        margin-left: -1.8em;
    }
}

// Mobile
@media only screen and (max-width: 767px) {
    // Remove header button background on mobile.
    header a.button {
        background-image: none;
        background-color: #9ddcff;
    }

    // Remove custom heading icons on mobile.
    #main-content {
        #hva-er-det:before,
        #hvor-er-det:before,
        #hva-koster-det:before,
        #hvor-melder-jeg-meg-på:before {
            content: none;
        }
    }

    // Un-hide sidebar buttons.
    aside#sidebar a.button {
        display: inline-block;
    }
}
