---
---

@import "{{ site.theme }}";

header a.button {
    background: transparent url(../images/tickets-button.png) 0 0 no-repeat;
}

aside a.discord.button {
    background: transparent url(../images/discord-button.png) 0 0 no-repeat;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    header a.button {
        background-image: none;
    }
}
